version: '3.9'

services:
  mongo:
    image: mongo:7
    command: ['--bind_ip_all']
    healthcheck:
      test: ['CMD', 'mongosh', '--quiet', '--eval', 'db.runCommand({ ping: 1 }).ok']
      retries: 3
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: mern-base-dev
    working_dir: /opt/apps/server
    command: ['npm', 'run', 'dev']
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: 'true'
      CORS_ORIGIN: http://localhost:5173
      MONGODB_URI: mongodb://mongo:27017/app
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - '3000:3000'
    volumes:
      # app code
      - ./apps/server:/opt/apps/server
      - ./packages:/opt/packages
      # optional: if you want client code inside the container too
      - ./apps/client:/opt/apps/client

  client:
    image: mern-base-dev
    working_dir: /opt/apps/client
    command: ['npm', 'run', 'dev', '--', '--host', '0.0.0.0']
    environment:
      NODE_ENV: development
      VITE_API_URL: http://server:3000
      CHOKIDAR_USEPOLLING: 'true'
    ports:
      - '5173:5173'
    volumes:
      - ./apps/client:/opt/apps/client
      - ./packages:/opt/packages

volumes:
  mongo-data:
